/* default_style.css */

h1 {
        text-align: center;
        font: "Georgia";
}

h2 {
        font-size: 21px;
        font-style: normal;
}

h3 {
        font-style: bold;
        font-size: 18px;
}

h4 {
        font-style: italic;
        font-size: 16px;
        color: gray;
}

h5 {
        font-style: normal;
        font-size: 16px;
        color: gray;

}